@model Infinite.Healthcare.MVC.Models.PatientViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PatientViewModel</h4>
<hr />
<body class="img">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          @*  <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patientcity" class="control-label"></label>
                <input asp-for="Patientcity" class="form-control" />
                <span asp-validation-for="Patientcity" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Gender" class="form-label"></label>
                <div>
                    <label><input type="radio" asp-for="Gender" value="Male" /> Male</label>
                    <label><input type="radio" asp-for="Gender" value="Female" /> Female</label>
                    <label><input type="radio" asp-for="Gender" value="Other" /> Other</label>
                </div>
                <span asp-validation-for="Gender"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
<style>
    .img {
        background-image: url('https://images.indianexpress.com/2018/08/polypharmacy-759.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>


@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

