@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body class="img">
    <div class="text-center">       
        <h1 style="font-size: 100px; padding-top: 150px; color: slategrey; text-shadow: 2px 2px black;">Welcome</h1>          </div>
</body>
<style>
        .img {
        background-image: url('https://thumbs.dreamstime.com/b/family-health-care-insurance-concept-family-health-care-insurance-concept-stethoscope-paper-cut-family-102883760.jpg');
                background-repeat: no-repeat;
                background-size: cover;

    }
 </style>


